.media-details {
  text-align: left;
  width: 100%;
  height: 250px;
  box-shadow: 0px 0px 10px var(--primary);
  margin: auto;
  max-width: 60vw;
}

.movie-poster {
  width: 200px;
  max-width: 50%;
  height: 100%;
  float: left;
}

.media-card {
  height: 100%;
  max-height: 250px;
  overflow-y: auto;
  background-color: var(--primary);
  color: var(--secondary);
  text-align: justify;
}

@media only screen and (max-width: 700px) {
  .media-details {
    margin: 0;
    max-width: 100%;
  }
  .media-card {
    text-align: left;
  }
}
