$rhap_background-color: var(--primary);
$rhap_theme-color: var(--secondary);
$rhap_time-color: var(--secondary);

@import "react-h5-audio-player/src/styles.scss";

#music-player-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--primary);
  max-height: 100px;
  margin: 0;
}
