#sidebar {
  width: 75px;
  min-width: 75px;
  height: 100vh;
  background-color: var(--primary);
  transition: 0.5s;
}

#sidebar-maximise {
  display: none;
  text-align: center;
  padding-right: 0;
}

#sidebar-minimise {
  text-align: right;
  padding-right: 20px;
}

#sidebar-minimise,
#sidebar-maximise {
  color: #818181;
  font-size: 36px;
  text-decoration: none;
  width: 100%;
  display: block;
}

#sidebar-minimise-icon:hover,
#sidebar-maximise:hover {
  color: var(--secondary);
  cursor: pointer;
}

.sidelink {
  padding: 8px 0px 8px 25px;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidelink:hover {
  text-decoration: none;
  color: var(--secondary);
}

.sidelink-active {
  color: var(--secondary) !important;
}

.sidebar-text {
  display: none;
  margin-left: 10px;
}

#settings-link {
  position: absolute;
  bottom: 20px;
}
