#top-nav {
  background-color: var(--primary);
  margin-bottom: 20px;
}

#nav-search {
  color: var(--secondary);
  background-color: var(--tertiary);
  // border: none;
  border: 1px solid var(--secondary);
  width: auto;
}
