#episode-list {
  overflow-y: auto;
  max-height: calc(100% - 170px);
}

#episode-table {
  color: var(--secondary);
}

.episode-row:hover {
  background-color: var(--primary);
}

#episode-numbers {
  width: 60vw;
  text-align: left;
  margin: auto;
  border: 1px solid var(--secondary);
  margin-bottom: 20px;
}

.episode-number {
  border-radius: 0 !important;
  border: 1px solid var(--secondary) !important;
  color: var(--secondary) !important;
  margin: 5px;
}

.episode-number:hover {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}

@media only screen and (max-width: 700px) {
  #episode-numbers {
    width: 100%;
  }
}
