#home-nav {
  margin-bottom: 20px;
  height: 54px;
  background-color: var(--primary);
}

.info-card {
  text-align: center;
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px var(--primary);
  margin-bottom: 10px;
}

.info-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#banner {
  height: 40vh;
  background-color: var(--primary);
  box-shadow: 0px 0px 10px var(--primary);
}

#home-container {
  max-height: 100vh;
  overflow-y: auto;
}

#welcome-brand {
  display: none;
  color: var(--secondary);
}

@media only screen and (max-width: 700px) {
  #banner {
    display: none;
  }
  #welcome-brand {
    display: block;
  }
}
