@import "~react-image-gallery/styles/scss/image-gallery.scss";

.image {
  width: 400px;
  height: 400px;
  margin: 10px;
  transition: 0.5s;
  box-shadow: 0px 0px 10px var(--primary);
}

.image:hover {
  transform: scale(1.05);
}
