#login-container {
  height: 100vh;
  background-color: var(--tertiary);
}

#login-form {
  max-width: 320px;
  width: 90%;
  background-color: var(--primary);
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -75%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--secondary);
  box-shadow: 3px 3px 4px var(--primary);
}

.form-input {
  background: none !important;
  border: none !important;
  border-bottom: 1px solid var(--secondary) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  outline: none !important;
  color: var(--secondary) !important;
}

#login-button {
  background: var(--tertiary);
  color: var(--secondary);
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

#login-button:hover,
#login-button:active {
  background: var(--secondary);
  color: var(--primary);
  outline: none;
}

#login-icon {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: var(--secondary);
}
