#music-list {
  overflow-y: auto;
  max-height: calc(100% - 170px);
}

#music-table {
  color: var(--secondary);
}

.music-row:hover {
  background-color: var(--primary);
}

#play-icon:hover {
  cursor: pointer;
}

#edit-icon:hover {
  cursor: pointer;
}
