.account-edit:hover {
  cursor: pointer;
}

#general-bar {
  color: var(--secondary);
  background-color: var(--primary);
  margin-bottom: 10px;
}

#general-container {
  height: 40%;
}

#accounts-container {
  overflow-y: auto;
  max-height: 45%;
}

#accounts-bar {
  color: var(--secondary);
  background-color: var(--primary);
  margin-bottom: 10px;
}

#accounts-table {
  color: var(--secondary);
}

.brand {
  color: var(--secondary) !important;
}
