.page {
  position: relative;
  color: var(--secondary);
  background-color: var(--tertiary);
  height: 100vh;
}

.media-list {
  max-height: calc(100% - 75px);
  overflow-y: auto;
  text-align: center;
}

.primary-button {
  border: 1px solid var(--secondary);
  color: var(--secondary);
  outline: none;
  background: var(--tertiary);
  padding-left: 15px;
  padding-right: 15px;
}

.primary-button:hover {
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  color: var(--primary);
}

.media-poster {
  width: 200px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px var(--primary);
}

.media-poster:hover {
  transform: scale(1.05);
}

.media-player-container {
  width: 100%;
  text-align: center;
  overflow-y: auto;
}

.media-player {
  max-width: 60vw;
  height: auto;
  box-shadow: 0px 0px 10px var(--primary);
  margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
  .media-player {
    max-width: 100%;
  }
  .episode-number {
    max-width: 100%;
  }
}

.search-results {
  overflow: auto;
  max-height: 300px;
}
