:root {
  --primary: #111;
  --secondary: #fff;
  --tertiary: #151515;
}

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.min.css";

// Common
@import "./Common";

// Pages
@import "pages/login";
@import "pages/Movies";
@import "pages/Music";
@import "pages/Images";
@import "pages/Episodes";
@import "pages/Home";
@import "pages/Settings";

// // Components
@import "components/Sidebar";
@import "components/TopNav";
@import "components/MediaCard";
@import "components/MusicPlayer";

// App
#app-container {
  display: flex;
  width: 100%;
}

#main-content {
  flex-grow: 1;
}
